<div class="card-header d-flex justify-content-between">
  <h5 class="md-0 text-dark">
    Editar To Do
  </h5>
  <%= link_to 'Voltar', @todo_list, class: "btn btn-dark" %> 
</div>

<%= render 'form', todo_list: @todo_list %>

